/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway&display=swap");

/* body css */
body {
  font-family: "Inter", "sans-serif";
  font-family: "Raleway", "sans-serif";
}

/* #home css */
#home {
  background-image: url(../images/coding.jpg);
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image within the container */
}

/*social icons*/
/*display css & positioning & margins */
.links-socials {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  justify-content: flex-start; /* Align items to the bottom */
  align-items: flex-end; /* Align items to the left */
  margin: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Ensure the social links stay on top of the content */
}

/*add margins between each icon */
.links-socials a {
  margin-right: 1rem;
}

/* Fonts */

/* font weights */
.fw-bold {
  font-weight: 700;
}

.fw-medium {
  font-weight: 500;
}

.fw-normal {
  font-weight: 400;
}

.fw-light {
  font-weight: 300;
  font-size: 21px;
}

.fs-large {
  font-size: 21px;
}

.fs-normal {
  font-size: 100%;
}

.fs-small {
  font-size: 14px;
}

a:hover, a:active {
  color: #6fc0fe;
}

/* Image Responsive - about me section */
.img-place {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;height: 100%;
  overflow: hidden;
  z-index: 10;
}

.img-place > img {
  width: 100%;height: auto;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;height: 100%;
  background: rgba(0,0,0,0.6);
  visibility: visible;
  z-index: 99;
}

/* Links */
.page-item:not(:last-child) .page-link {
  margin-right: 8px;
}

.page-item.active .page-link {
  background-color: #52565c;
  color: #fff;
}

.page-link {
  border: 0;
  padding: 10px 16px;
  background-color: #f2f4fa;
  color: #52565c;
}

.page-link:hover {
  color: #2C2D34;
}

.page-link:focus {
  box-shadow: none;
}

/* styling the list */
.theme-list {
  position: relative;
  padding-left: 30px;
  list-style: none;
  z-index: 10;
}

.theme-list::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 9px;
  margin: auto;
  width: 1px;
  height: 85%;
  background-color: #cacdd6;
  z-index: -1;
}

.theme-list li {
  display: block;
  margin: 5px 0;
}

.theme-list li::before {
  content: "";
  position: absolute;
  left: 3px;
  margin: 6px 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #888;
}

/* Navigation */
.sticky {
  top: 0;
  z-index: 999;
}

.navbar-brand {
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-nav .nav-link {
  padding: 14px 10px;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
      padding-left: 12px;
      padding-right: 12px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
      padding-left: 14px;
      padding-right: 14px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 16px;
      padding-right: 16px;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
      padding-left: 16px;
      padding-right: 16px;
  }
}

/* Page Animation */
/* Reveal */
.reveal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #202022;
  z-index: 98;
}

.reveal-animate {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  height: 100vh;
}

.reveal-layer-top {
  -webkit-animation-name: anim-effect-1;
animation-name: anim-effect-1;
}

.reveal-layer-bottom {
  -webkit-animation-name: anim-effect-2;
animation-name: anim-effect-2;
}

@-webkit-keyframes anim-effect-1 {
0% {
  -webkit-transform: translate3d(0, 0, 0);
}
35%, 65% {
  -webkit-transform: translate3d(0, -100%, 0);
}
100% {
  -webkit-transform: translate3d(0, -200%, 0);
}
}

@keyframes anim-effect-1 {
0% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
35%, 65% {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
100% {
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0);
}
}

@-webkit-keyframes anim-effect-2 {
0% {
  -webkit-transform: translate3d(0, 0, 0);
}
35%, 65% {
  -webkit-transform: translate3d(0, -100%, 0);
}
100% {
  -webkit-transform: translate3d(0, -200%, 0);
}
}

@keyframes anim-effect-2 {
0% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
35%, 65% {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, 100%, 0);
}
100% {
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, 200%, 0);
}
}

/* Plugins*/
/* See my work section */
.gridder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px; /* Add gap between grid items */ display: flex;
  justify-content: space-between;
  margin: 5px;
  overflow: hidden;
}

.grid-item {
  flex: 0 0% 25%; /* Adjust the width as needed */
  padding: 5px;
  margin: 15px;
}

.grid-container
{
  display: flex;
    justify-content: space-between;
    margin: 5px;
    overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.grid-item .img-place {
  width: 100%;
  max-width: 350px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.grid-item .img-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 16px;
  width: 100%;
  background-color: rgba(50, 49, 49, 0.8); /* Adjust background color and opacity */
  color: #fff;
}

.grid-item .img-caption p {
  font-size: 14px;
  margin-bottom: 0;
}

.grid-item .img-caption p::before {
  content: "\2014";
  margin-right: 5px;
}

@media (min-width: 768px) {
  .gridder .grid-item,
  .gridder .grid-sizer {
      width: 50%;
  }
}

@media (min-width: 992px) {
  .gridder .grid-item,
  .gridder .grid-sizer {
      width: 33.33333%;
  }
}

/* colour theme for page */
.site-theme .bg-theme {
  background-color: #6fc0fe !important;
}

.site-theme .fg-theme {
  color: #6fc0fe !important;
}

.site-theme .btn-theme {
  background-color: #6fc0fe;
  color: #fff;
}

.site-theme .btn-theme:hover {
  background-color: #6fc0fe;
  color: #fff;
}

.site-theme .btn-theme:focus {
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #6fc0fe;
}

.site-theme .btn-theme-outline {
  color: #6fc0fe;
  box-shadow: 0 0 0 2px #6fc0fe;
}

.site-theme .btn-theme-outline:hover {
  background-color: #6fc0fe;
  color: #fff;
}

.site-theme .btn-theme-outline:focus {
  background-color: #6fc0fe;
  color: #fff;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #6fc0fe;
}

.site-theme .theme-list li::before {
  border-color: #6fc0fe;
}

/* carousel css */
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}