
/* social icons css */
.badge-subhead {
  margin-bottom: 8px;
  padding: 10px 30px;
  background-color: rgba(116, 116, 116, 0.15);
  color: #747474;
  font-size: 14px;
  border-radius: 40px;
}

/* Page css */
.vg-page {
  position: relative;
  display: block;
  padding: 80px 0;
  width: 100%;
  overflow: hidden;
}

.page-home {  
  padding: 25px 0;
  width: 100%;
  height: 700px;
  z-index: 99;
}

.page-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 43, 43, 0.8);
  z-index: -1;
  opacity: 1;
}

/* Page navbar css */
.page-home .navbar {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(69, 102, 151, 0.8);
  z-index: 99;
}

.page-home .navbar.floating {
  top: 0;
  background-color: #343a40;
}

/* overlay css */
.page-home .caption-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 10;
}

/* text css */
.page-home h1 {
  font-size: 50px;
}

.page-home .badge {
  padding: 16px 24px;
  background-color: rgba(85, 55, 51, 0.15);
  color: #6fc0fe;
  text-shadow: 0 2px 4px rgba(23, 25, 37, 0.4);
  font-size: 16px;
  border-radius: 40px;
}

/* about me css */
.page-about {
  background-color: #fff;
}

/* my image css */
.page-about .img-place {
  width: 280px;
  height: 350px;
  background-color: #dfe0e6;
  overflow: unset;
}

.page-about .img-place::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -35px;
  width: 100%;
  height: 100%;
  border: 5px solid #747474;
  z-index: -1;
}

/* education/experience css */
.timeline {
  position: relative;
  display: block;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2px;
  height: 95%;
  background-color: #e3e5e9;
}

.timeline li {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-bottom: 20px;
}

.timeline li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -8px;
  width: 18px;
  height: 18px;
  background-color: #747474;
  border: 3px solid #fff;
  border-radius: 50%;
}

.timeline li .title {
  width: 150px;
  padding: 6px 20px;
  background-color: #747474;
  color: #fff;
  font-weight: 500;
  border-radius: 30px 0px 60px 0px;
} 

.timeline li .details {
  background-color: #f4f5f8;
  margin-top: 8px;
  padding: 20px;
  border-radius: 4px;
}

.timeline li .details h5,
.timeline li .details p {
  margin-bottom: 0;
}

.timeline li .details small {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*What can i do? css*/
.page-service {
  background-color: #fff;
}

.card-service {
  margin: 16px auto;
  padding: 20px;
  background-color: #fff;
  border: 0;
}

.card-service .icon {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 32px;
  border-radius: 50%;
  background-color: #f4f5f8;
}

.card-service .caption {
  margin-top: 16px;
  text-align: center;
  color: #747474;
}

.post-grid {
  justify-content: center;
}

.post-grid .card {
  margin: 2rem auto;
  max-width: 320px;
  border: 0;
  background-color: #fff;
  -webkit-transition: box-shadow .3s ease;
  -moz-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  box-shadow: 0 4px 30px rgba(140, 152, 164, 0.2);
}

.post-grid .card:hover {
  box-shadow: 0 4px 30px rgba(140, 152, 164, 0.4);
}

.post-grid .card .caption {
  padding: 20px 16px;
}

.post-grid .post-category {
  font-weight: 500;
  color: #6fc0fe;
  text-decoration: none;
}

.post-grid .post-title {
  display: table-row;
  color: #6c727c;
  font-weight: 500;
  font-size: 21px;
  text-decoration: none;
}

.post-grid .post-title:hover,
.post-grid .post-title:focus {
  color: #52565c;
}

.post-grid .post-date {
  font-size: 13px;
  color: #777;
}

.widget-grid .form-control {
  border-width: 0 0 2px 0;
  border-radius: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.widget-grid .form-control:focus {
  box-shadow: none;
}

@media (max-width: 768px) {
  .grid-container {
      flex-direction: column; /* Stack cards in a column */
      align-items: center; /* Center align cards */
  }

  .grid-item {
      flex: 0 0 90%; /* Full width for stacked cards */
      margin-bottom: 20px; /* Add spacing between stacked cards */
  }
}

/* Footer css */
.vg-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  background-color: #bebebe;
  color: #feffff;
}

.footer-info {
  max-width: 350px;
}

.vg-footer .list-unstyled a,
.vg-footer .list-unstyled li {
  font-size: 14px;
  color: #fff;
}

.vg-footer .form-control {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #202334;
  color: #9FA2AB;
  border: 0;
  box-shadow: 0 2px 8px rgba(16, 18, 27, 0.6);
}

.vg-footer .form-control:focus {
  box-shadow: 0 2px 8px rgba(16, 18, 27, 0.6);
}

.vg-footer form .btn-theme {
  margin: 0;
  box-shadow: none;
  border-radius: 0 4px 4px 0;
  z-index: 9;
}
/* Responsive styles */
@media only screen and (max-width: 768px) {
  .vg-footer {
    padding: 20px 0;
  }

  .footer-info {
    max-width: 100%;
    font-weight: 500;
  }

  .vg-footer .form-control {
    margin-top: 10px;
  }

  .vg-footer .list-unstyled,
  .vg-footer p {
    text-align: center;
    margin: 0;
  }
  .vg-footer form .btn-theme {
    border-radius: 4px;
    margin-top: 10px;
  }

  .vg-footer p
  {
    font-size: light;
    padding: 0%;
    margin-top: 0%;
    align-items: center;
    position: relative;
  }
}

/* Theme color style */
.site-theme .badge-subhead  {
  background-color: rgba(41, 96, 247, 0.15);
  color: #6fc0fe;
}

.site-theme .filterable-button .btn.selected,
.site-theme .filterable-button .btn:focus {
  background-color: #6fc0fe;
  color: #fff;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #6fc0fe;
}

.site-theme .page-home .badge {
  background-color: rgba(41, 96, 247, 0.15);
  color: #6fc0fe;
}

.site-theme .page-about .img-place::before {
  border-color: #6fc0fe;
}

.site-theme .timeline li:first-child .title {
  background-color: #6fc0fe;
}

.site-theme .timeline li:first-child::before {
  background-color: #6fc0fe;
  box-shadow: 0 0 0 2px #6fc0fe;
}

.site-theme .post-grid .post-category {
  color: #6fc0fe;
}

