/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway&display=swap');


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    /*if more than 1 font family, input here */
    /*the one with inverted commas is because it is externally sourced*/
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
    color: white;
    background-color: #2C353C;
}

/* Reset some default styles */
* {
    margin: 0;
   /* padding: 0;*/
    box-sizing: border-box;
}

/* Define the split layout */
.split-layout {
    display: flex;
    height: 50vh;
}

/* Style the grey side */
.grey-side {
    flex: 1;
    background-color: #d9ead3;
}

/* Style the white side */
.white-side {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Style the circular image */
.circle-container {
    width: 230px; 
    height: 315px; 
    border-radius: 50%;
    background-color: #2C353C;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0px rgba(44,53,60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.circle-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 8px solid #d9ead3;
}


